@charset "UTF-8";

body{
    background: linear-gradient(299.13deg, #2CF2FF 0%, #980CA4 100%);
    font-family: "Inter", sans-serif;
    height: 681px;
}

h1{
    font-weight: 900;
    font-size: 32px;
    color: rgb(255, 255, 255);
    
    width: 711px;
    margin: auto;
    margin-top: 80px;
}

.corpo{
    width: 800px;
    height: 650px;

    margin: auto;
    margin-top: 0px;
}

#primeira-fileira {
    display: flex;
    width: 711px;
    height: 224px;
    margin-left: auto;
    margin-right: auto;
}

.coluna-rank{
    max-width: 800px;
    width: 300px;
    margin-top: 0%;
    margin-bottom: 1px;
    margin: auto;
    margin-left: 0px;
    margin-right: 98px;
}

.elo{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
}

img{
    margin: 12px;
    margin-left: 15px;
}

.box1{
    background-color: rgb(73, 59, 105);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    border-radius: 10px;

    display: flex;

    width: 313px;
    height: 97px;
}

input{
    cursor: pointer;
}

.box1 h2{
    margin-left: 30px;
}

#segunda-fileira{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    text-align: left;

    width: 711px;
    height: 224px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.coluna-config{
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    margin: auto;
}

.box2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(89, 59, 105, 1);
    font-size: 14px;
   
    text-align: left;
    max-width: 800px;
    margin: 20px;
    width: 304px;
    height: 58px;
    border-radius: 10px;
    
    display: flex
}

.box2 h2{
    margin-left: 20px;
}

  .checkbutton {
    display: none;
  }

  .button{
    margin: auto;
    margin-right: 20px;
  }
  
  .switch {
    position: relative;
    background-color: rgba(66, 69, 103, 1);

    width: 60px;
    height: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;

  }
  
  .slider {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 34px;
    transition: all .5s ease-in-out;
  }
  
  .checkbutton:checked ~ .switch {
    background-color: rgb(120, 124, 184);
  }
  
  .checkbutton:checked ~ .switch .slider {
    transform: translateX(35px);
  }

#terceira-fileira{
    color: rgba(212, 212, 212, 1);
    background-color: rgba(0, 0, 0, 0.49);
    display: flex;
    margin: 0;

    width: 711px;
    height: 76px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#aplicarCupom input{
    background-color: rgba(118, 84, 192, 1);
    color: rgba(212, 212, 212, 1);
    font-family: Inter;
    font-size: 15px;
    
    text-align: center;
    margin: 20px;

    width: 209px;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    outline: none;
}

#aplicarCupom ::placeholder{
    color: rgba(212, 212, 212, 1);
    text-align: center;
    font-size: 18px;
    font-family: Inter;
}

#preco{
    color: rgba(198, 198, 198, 1);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;

    font-family: Inter;
    justify-content: center;
    align-content: center;
    text-align: center;

    width: 145px;
    height: 43px;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
}
#total{
    font-size: 10px;
}

#valor{
    font-size: 11px;
    margin-left: 10px;
}

#iniciarBoost input{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(87, 168, 233, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    margin-left: 125px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;

    width: 156px;
    height: 50px;
}

    width: 156px;
    height: 50px;
}
